{% extends "layout.html" %}

{% block body %}
    {% if session["logged-in"] %}
    <div>
        <form class="form-inline d-flex justify-content-end cinput" id="channelForm" onsubmit="return false">
            <div class="form-group container cinput">
                <input type="text" class="form-control" placeholder="Channel name..." id="channelInput" required></input>
                <button class="btn btn-primary" type="submit">Create channel</button>
            </div>
        </form>
        <!-- <small>Channel must be 10 characters or less</small> -->
    </div>

    <div class="col-9 chatHolder container">
        <h4 class="d-flex justify-content-center">{{channelName}}</h4>
        <div id="chatbox">
            <div class="list-group" id="chatlog">
                {% for message in messages %}
                    <div class="list-group-item flex-column align-items-start message-format">
                        <div class="d-flex w-100 justify-content-between">
                            <div class="mb-1 nametag">{{ message.sender }}</div>
                            <small class="text-muted">{{ message.date }} </small>
                        </div>
                        <p class="mb-1">{{ message.message }}</p>    
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <form class="mform form-inline" id="messageForm">
        <div class="form-group container minput">
            <input type="text" class="form-control" placeholder="Message..." name="message" id="messageInput"></input>
            <button class="btn btn-primary" type="submit">Send</button>
        </div>
    </form>

    {% else %}
    <form action="{{ url_for('usernameHandler') }}" method="post" class="form-inline d-flex justify-content-center uform">
        <div class="form-group container uinput">
            <input type="text" class="form-control" placeholder="Enter username..." name="username" required></input>
            <button class="btn btn-primary" type="submit">Login</button>
        </div>
    </form>
    <small class="char"> Must be 10 characters or less </small>
    {% endif %}
    <!--Source code taken from the flash source code: http://flask.pocoo.org/docs/1.0/patterns/flashing/-->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
{% endblock %}
