{% extends "layout.html" %}

{% block body %}



    {% if session["logged-in"] %}
    <!-- action="{{ url_for('createChannel') }}"  method="POST" -->
    <div>
        <form class="form-inline d-flex justify-content-end cinput" id="channelForm" onsubmit="return false">
            <div class="form-group container cinput">
                <input type="text" class="form-control" placeholder="Channel name..." name="channel" id="channelInput" required></input>
                <button class="btn btn-primary" type="submit">Create channel</button>
            </div>
        </form>
        <!-- <small>Channel must be 10 characters or less</small> -->
    </div>


        
    <div class="col-9 chatHolder container">
        <ol class="chatlog">
            <li>Hello friend!</li>
            <li>Hello friend!</li>
        </ol>
    </div>

    <!-- action="{{ url_for('sendMessage') }}" method="post" -->
    <form class="mform form-inline" id="messageForm">
        <div class="form-group container minput">
            <input type="text" class="form-control" placeholder="Message..." name="message" id="messageInput"></input>
            <button class="btn btn-primary" type="submit">Send</button>
        </div>
    </form>

    {% else %}
    <form action="{{ url_for('usernameHandler') }}" method="post" class="form-inline">
        <div class="form-group container uinput">
            <input type="text" class="form-control" placeholder="Enter username" name="username" required></input>
            <button class="btn btn-primary" type="submit">Login</button>
        </div>
    </form>
    {% endif %}
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

{% endblock %}
